In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [2]:
## csv of s&p 500 data from yahoo finance
filepath = "../Input/^GSPC.csv"

# Load spreadsheet
xl = pd.ExcelFile("../Input/government_shutdown_stats.xlsx")

# Load a sheet into a DataFrame by name:
shutdown_df = xl.parse(xl.sheet_names[0])

In [3]:
## read stock csv
stock_prices_unclean = pd.read_csv(filepath)

In [ ]:
# ## make the index the date to help with cleaning
stock_prices_unclean = stock_prices_unclean.set_index(['Date'])

In [11]:
shutdown_df

,shutdown_number,from_date,to_date,length_in_days,pres_party_in_power,president,senate_party_in_power,senate_seats,house_party_in_power,house_seats
0,1,1976-09-30,1976-10-11,12,R,Ford,D,62 - 38,D,291 - 144
1,2,1977-09-30,1977-10-13,14,D,Carter,D,59 - 41,D,292 - 143
2,3,1977-10-31,1977-11-09,10,D,Carter,D,59 - 41,D,292 - 143
3,4,1977-11-30,1977-12-09,10,D,Carter,D,59 - 41,D,292 - 143
4,5,1978-09-30,1978-10-18,19,D,Carter,D,59 - 41,D,292 - 143
5,6,1979-09-30,1979-10-12,13,D,Carter,D,58 - 42,D,277 - 158
6,7,1981-11-20,1981-11-23,4,R,Reagan,R,53 - 47,D,244 - 191
7,8,1982-09-30,1982-10-02,3,R,Reagan,R,53 - 47,D,244 - 191
8,9,1982-12-17,1982-12-21,5,R,Reagan,R,53 - 47,D,244 - 191
9,10,1983-11-10,1983-11-14,5,R,Reagan,R,55 - 45,D,271 - 164
10,11,1984-09-30,1984-10-03,4,R,Reagan,R,55 - 45,D,270 - 165
11,12,1984-10-03,1984-10-05,3,R,Reagan,R,55 - 45,D,270 - 165
12,13,1986-10-16,1986-10-18,3,R,Reagan,R,53 - 47,D,253 - 182
13,14,1987-12-18,1987-12-20,3,R,Reagan,D,54 - 46,D,258 - 177
14,15,1990-10-05,1990-10-09,5,R,G. H. W. Bush,D,55 - 45,D,258 - 176
15,16,1995-11-13,1995-11-19,7,D,Clinton,R,53 - 47,R,233 - 199
16,17,1995-12-05,1996-01-06,33,D,Clinton,R,53 - 47,R,235 - 198
17,18,2013-10-01,2013-10-17,17,D,Obama,D,54 - 46,R,232 - 200
18,19,2018-01-20,2018-01-22,3,R,Trump,R,51 - 49,R,238 - 193
19,20,2018-02-09,2018-02-09,1,R,Trump,R,51 - 49,R,238 - 193

In [4]:
stock_prices_unclean

,Date,Open,High,Low,Close,Adj Close,Volume
0,1976-09-15,103.940002,104.699997,103.279999,104.250000,104.250000,17570000
1,1976-09-16,104.250000,105.589996,103.839996,105.339996,105.339996,19620000
2,1976-09-17,105.339996,106.809998,105.139999,106.269997,106.269997,28270000
3,1976-09-20,106.269997,107.199997,105.739998,106.320000,106.320000,21730000
4,1976-09-21,106.320000,108.129997,106.089996,107.830002,107.830002,30300000
5,1976-09-22,107.830002,108.720001,106.919998,107.459999,107.459999,32970000
6,1976-09-23,107.459999,107.959999,106.400002,106.919998,106.919998,24210000
7,1976-09-24,106.919998,107.360001,106.029999,106.800003,106.800003,17400000
8,1976-09-27,106.800003,107.699997,106.349998,107.269997,107.269997,17430000
9,1976-09-28,107.269997,107.540001,105.610001,105.919998,105.919998,20440000
10,1976-09-29,105.919998,106.449997,104.830002,105.370003,105.370003,18090000
11,1976-09-30,105.370003,105.839996,104.570000,105.239998,105.239998,14700000
12,1976-10-01,105.239998,105.750000,103.599998,104.169998,104.169998,20620000
13,1976-10-04,104.169998,104.620003,103.419998,104.029999,104.029999,12630000
14,1976-10-05,104.029999,104.250000,102.510002,103.230003,103.230003,19200000
15,1976-10-06,103.230003,103.720001,102.050003,102.970001,102.970001,20870000
16,1976-10-07,102.970001,103.900002,102.160004,103.540001,103.540001,19830000
17,1976-10-08,103.540001,104.000000,102.239998,102.559998,102.559998,16740000
18,1976-10-11,102.480003,102.480003,100.980003,101.639999,101.639999,14620000
19,1976-10-12,101.639999,102.190002,100.379997,100.809998,100.809998,18210000
20,1976-10-13,100.809998,102.440002,100.540001,102.120003,102.120003,21690000
21,1976-10-14,102.120003,102.139999,100.279999,100.849998,100.849998,18610000
22,1976-10-15,100.849998,101.500000,100.019997,100.879997,100.879997,16210000
23,1976-10-18,100.879997,101.989998,100.620003,101.470001,101.470001,15710000
24,1976-10-19,101.470001,102.040001,100.419998,101.449997,101.449997,16200000
25,1976-10-20,101.449997,102.230003,100.809998,101.739998,101.739998,15860000
26,1976-10-21,101.739998,102.320000,100.489998,100.769997,100.769997,17980000
27,1976-10-22,100.769997,100.930000,99.239998,99.959999,99.959999,17870000
28,1976-10-25,99.959999,100.599998,99.209999,100.070000,100.070000,13310000
29,1976-10-26,100.070000,101.500000,99.910004,101.059998,101.059998,15490000
...,...,...,...,...,...,...,...
10643,2018-11-26,2649.969971,2674.350098,2649.969971,2673.449951,2673.449951,3443950000
10644,2018-11-27,2663.750000,2682.530029,2655.889893,2682.169922,2682.169922,3485220000
10645,2018-11-28,2691.449951,2744.000000,2684.379883,2743.790039,2743.790039,3951670000
10646,2018-11-29,2736.969971,2753.750000,2722.939941,2737.800049,2737.800049,3560770000
10647,2018-11-30,2737.760010,2760.879883,2732.760010,2760.169922,2760.169922,4658580000
10648,2018-12-03,2790.500000,2800.179932,2773.379883,2790.370117,2790.370117,4186060000
10649,2018-12-04,2782.429932,2785.929932,2697.179932,2700.060059,2700.060059,4499840000
10650,2018-12-06,2663.510010,2696.149902,2621.530029,2695.949951,2695.949951,5141470000
10651,2018-12-07,2691.260010,2708.540039,2623.139893,2633.080078,2633.080078,4216690000
10652,2018-12-10,2630.860107,2647.510010,2583.229980,2637.719971,2637.719971,4151030000
10653,2018-12-11,2664.439941,2674.350098,2621.300049,2636.780029,2636.780029,3905870000
10654,2018-12-12,2658.229980,2685.439941,2650.260010,2651.070068,2651.070068,3955890000
10655,2018-12-13,2658.699951,2670.189941,2637.270020,2650.540039,2650.540039,3927720000
10656,2018-12-14,2629.679932,2635.070068,2593.840088,2599.949951,2599.949951,4035020000
10657,2018-12-17,2590.750000,2601.129883,2530.540039,2545.939941,2545.939941,4616350000
10658,2018-12-18,2559.899902,2573.989990,2528.709961,2546.159912,2546.159912,4470880000
10659,2018-12-19,2547.050049,2585.290039,2488.959961,2506.959961,2506.959961,5127940000
10660,2018-12-20,2496.770020,2509.629883,2441.179932,2467.419922,2467.419922,5585780000
10661,2018-12-21,2465.379883,2504.409912,2408.550049,2416.620117,2416.620117,7609010000
10662,2018-12-24,2400.560059,2410.340088,2351.100098,2351.100098,2351.100098,2613930000
10663,2018-12-26,2363.120117,2467.760010,2346.580078,2467.699951,2467.699951,4233990000
10664,2018-12-27,2442.500000,2489.100098,2397.939941,2488.830078,2488.830078,4096610000
10665,2018-12-28,2498.770020,2520.270020,2472.889893,2485.739990,2485.739990,3702620000
10666,2018-12-31,2498.939941,2509.239990,2482.820068,2506.850098,2506.850098,3442870000
10667,2019-01-02,2476.959961,2519.489990,2467.469971,2510.030029,2510.030029,3733160000
10668,2019-01-03,2491.919922,2493.139893,2443.959961,2447.889893,2447.889893,3822860000
10669,2019-01-04,2474.330078,2538.070068,2474.330078,2531.939941,2531.939941,4213410000
10670,2019-01-07,2535.610107,2566.159912,2524.560059,2549.689941,2549.689941,4104710000
10671,2019-01-08,2568.110107,2579.820068,2547.560059,2574.409912,2574.409912,4083030000
10672,2019-01-09,2580.000000,2595.320068,2568.889893,2584.959961,2584.959961,4052480000

In [5]:
sum(shutdown_df["length_in_days"])

174

In [6]:
# ## loops through all of csv, only keeping date ranges we need
# stock_prices_clean = pd.DataFrame()
# for shutdown in range(len(shutdown_df)):
#     stock_prices_clean = stock_prices_clean.append(stock_prices_unclean.loc[shutdown_df['from_date'][shutdown]:shutdown_df['to_date'][shutdown]])

In [7]:
# ## loops through all of csv, only keeping date ranges we need
# stock_prices_clean = pd.DataFrame()
# for shutdown in range(len(shutdown_df)):
#     try: 
#         from_date = stock_prices_unclean.index.get_loc(shutdown_df["from_date"][shutdown])
# #         to_date = stock_prices_unclean.index.get_loc(shutdown_df["to_date"][shutdown])
# #         stock_prices_clean = stock_prices_clean.append(stock_prices_unclean.iloc[from_date])
#     except KeyError: 
#         print(from_date)
# #         print(to_date)
#         from_date = stock_prices_unclean.index.get_loc(str((pd.to_datetime(shutdown_df["from_date"][shutdown]) + datetime.timedelta(days=3)).date()))
# #         to_date = stock_prices_unclean.index.get_loc(str((pd.to_datetime(shutdown_df["to_date"][shutdown]) + datetime.timedelta(days=5)).date()))
        
# #         stock_prices_clean = stock_prices_clean.append(stock_prices_unclean.iloc[from_date])

In [9]:
## loops through all of csv, only keeping date ranges we need
stock_prices_clean = pd.DataFrame()
for shutdown in range(len(shutdown_df)):
    try: 
        from_date = stock_prices_unclean.index.get_loc(shutdown_df["from_date"][shutdown])
    except KeyError: 
        from_date = stock_prices_unclean.index.get_loc(str((pd.to_datetime(shutdown_df["from_date"][shutdown]) + datetime.timedelta(days=2)).date()))

    try: 
        to_date = stock_prices_unclean.index.get_loc(shutdown_df["to_date"][shutdown])
    except KeyError: 
        to_date = stock_prices_unclean.index.get_loc(str((pd.to_datetime(shutdown_df["to_date"][shutdown]) + datetime.timedelta(days=2)).date()))

    
    stock_prices_clean = stock_prices_clean.append(stock_prices_unclean.iloc[from_date:to_date])

KeyError: '1976-10-02'

In [10]:
stock_prices_clean

Empty DataFrame
Columns: []
Index: []

In [263]:
stock_prices_unclean.index.get_loc("1995-11-18")

KeyError: '1995-11-18'

In [ ]:
# ## gets 5 obs before date of shutdown
# stock_prices_unclean.index.get_loc(shutdown_df["from_date"][0])-5
# ## gets 5 obs after date of shutdown
# stock_prices_unclean.index.get_loc(shutdown_df["to_date"][0])+5
str((pd.to_datetime(shutdown_df["from_date"][0]) + datetime.timedelta(days=3)).date())

In [264]:
## loops through all of csv, only keeping date ranges we need
stock_prices_clean = pd.DataFrame()
for shutdown in range(len(shutdown_df)):
    try: 
        
        stock_prices_clean = stock_prices_clean.append(stock_prices_unclean.iloc[(stock_prices_unclean.index.get_loc(shutdown_df["from_date"][shutdown]))])
    except KeyError: 
        stock_prices_clean = stock_prices_clean.append(stock_prices_unclean.iloc[(stock_prices_unclean.index.get_loc(str((pd.to_datetime(shutdown_df["from_date"][shutdown]) + datetime.timedelta(days=5)).date())))])

In [265]:
stock_prices_clean

,Adj Close,Close,High,Low,Open,Volume
1976-09-30,105.239998,105.239998,105.839996,104.570000,105.370003,1.470000e+07
1977-09-30,96.529999,96.529999,96.849998,95.660004,95.849998,2.117000e+07
1977-10-31,92.339996,92.339996,93.029999,91.849998,92.610001,1.707000e+07
1977-11-30,94.830002,94.830002,95.169998,93.779999,94.550003,2.267000e+07
1978-10-05,103.269997,103.269997,104.099998,102.540001,103.059998,2.782000e+07
1979-10-05,111.269997,111.269997,112.160004,110.160004,110.169998,4.825000e+07
1981-11-20,121.709999,121.709999,122.589996,120.129997,120.709999,5.201000e+07
1982-09-30,120.419998,120.419998,121.620003,120.139999,121.620003,6.261000e+07
1982-12-17,137.490005,137.490005,137.710007,135.350006,135.350006,7.601000e+07
1983-11-10,164.410004,164.410004,164.710007,163.970001,163.990005,8.873000e+07
1984-10-05,162.679993,162.679993,163.320007,162.509995,162.919998,8.295000e+07
1984-10-03,162.440002,162.440002,163.589996,162.199997,163.589996,9.240000e+07
1986-10-16,239.529999,239.529999,240.179993,238.800003,238.830002,1.569000e+08
1987-12-18,249.160004,249.160004,249.179993,243.009995,243.009995,2.762200e+08
1990-10-05,311.500000,311.500000,314.790009,305.760010,312.690002,1.533800e+08
1995-11-13,592.299988,592.299988,593.719971,590.580017,592.719971,2.958400e+08
1995-12-05,617.679993,617.679993,618.479980,613.140015,613.679993,4.373600e+08
2013-10-01,1695.000000,1695.000000,1696.550049,1682.069946,1682.410034,3.238690e+09
2018-01-25,2839.250000,2839.250000,2848.560059,2830.939941,2846.239990,3.835150e+09
2018-02-09,2619.550049,2619.550049,2638.669922,2532.689941,2601.780029,5.680070e+09

In [ ]:
# idx = (data2['buy'] == True).fillna(False)
# idx |= idx.shift(-1) | idx.shift(-2)   # one & two days after
# idx |= idx.shift(1) | idx.shift(2)     # one & two days before
# data2[ idx ] # this is what you need

In [ ]:
type(shutdown_df['from_date'][1])

In [ ]:
# df = pd.DataFrame(np.random.random((200,3)))
# df['date'] = pd.date_range('2000-1-1', periods=200, freq='D')
# df = df.set_index(['date'])
# print(df.loc['2000-6-1':'2000-6-10'])

In [ ]:
+ datetime.timedelta(days=3)