In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from matplotlib.patches import Patch

In [8]:
## csv of s&p 500 data from yahoo finance
filepath = "../Input/^GSPC.csv"

# Load spreadsheet
xl = pd.ExcelFile("../Input/government_shutdown_stats.xlsx")

# Load a sheet into a DataFrame by name:
shutdown_df = xl.parse(xl.sheet_names[0])

In [9]:
shutdown_df

,shutdown_number,from_date,to_date,length_in_days,pres_party_in_power,president,senate_party_in_power,senate_seats,house_party_in_power,house_seats
0,1,1976-09-30,1976-10-11,12,R,Ford,D,62 - 38,D,291 - 144
1,2,1977-09-30,1977-10-13,14,D,Carter,D,59 - 41,D,292 - 143
2,3,1977-10-31,1977-11-09,10,D,Carter,D,59 - 41,D,292 - 143
3,4,1977-11-30,1977-12-09,10,D,Carter,D,59 - 41,D,292 - 143
4,5,1978-09-30,1978-10-18,19,D,Carter,D,59 - 41,D,292 - 143
5,6,1979-09-30,1979-10-12,13,D,Carter,D,58 - 42,D,277 - 158
6,7,1981-11-20,1981-11-23,4,R,Reagan,R,53 - 47,D,244 - 191
7,8,1982-09-30,1982-10-02,3,R,Reagan,R,53 - 47,D,244 - 191
8,9,1982-12-17,1982-12-21,5,R,Reagan,R,53 - 47,D,244 - 191
9,10,1983-11-10,1983-11-14,5,R,Reagan,R,55 - 45,D,271 - 164
10,11,1984-09-30,1984-10-03,4,R,Reagan,R,55 - 45,D,270 - 165
11,12,1984-10-03,1984-10-05,3,R,Reagan,R,55 - 45,D,270 - 165
12,13,1986-10-16,1986-10-18,3,R,Reagan,R,53 - 47,D,253 - 182
13,14,1987-12-18,1987-12-20,3,R,Reagan,D,54 - 46,D,258 - 177
14,15,1990-10-05,1990-10-09,5,R,G. H. W. Bush,D,55 - 45,D,258 - 176
15,16,1995-11-13,1995-11-19,7,D,Clinton,R,53 - 47,R,233 - 199
16,17,1995-12-05,1996-01-06,33,D,Clinton,R,53 - 47,R,235 - 198
17,18,2013-10-01,2013-10-17,17,D,Obama,D,54 - 46,R,232 - 200
18,19,2018-01-20,2018-01-22,3,R,Trump,R,51 - 49,R,238 - 193
19,20,2018-02-09,2018-02-09,1,R,Trump,R,51 - 49,R,238 - 193

In [3]:
## read stock csv
stock_prices_unclean = pd.read_csv(filepath)

In [4]:
# ## make the index the date to help with cleaning
stock_prices_unclean = stock_prices_unclean.set_index(['Date'])

In [5]:
## loops through all of csv, only keeping date ranges we need
stock_prices_clean = pd.DataFrame()
obs_count_list = []
for shutdown in range(len(shutdown_df)):
    try: 
        from_date = stock_prices_unclean.index.get_loc(shutdown_df["from_date"][shutdown])
    except KeyError: 
        from_date = stock_prices_unclean.index.get_loc(str((pd.to_datetime(shutdown_df["from_date"][shutdown]) + datetime.timedelta(days=2)).date()))

    try: 
        to_date = stock_prices_unclean.index.get_loc(shutdown_df["to_date"][shutdown])
    except KeyError: 
        to_date = stock_prices_unclean.index.get_loc(str((pd.to_datetime(shutdown_df["to_date"][shutdown]) + datetime.timedelta(days=2)).date()))
        
    obs_count_list.append(len(stock_prices_unclean.iloc[from_date-3:to_date+3]))
    stock_prices_clean = stock_prices_clean.append(stock_prices_unclean.iloc[from_date-3:to_date+3])

In [6]:
## add shutdown number to the table
stock_prices_clean["Shutdown Number"] = 0
shutdown = 1
beg = 0
for x in obs_count_list:
    stock_prices_clean["Shutdown Number"].iloc[beg:(beg+x)] = shutdown
    shutdown += 1
    beg = (beg + x)

C:\Users\Amrit\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [7]:
stock_prices_clean

,Open,High,Low,Close,Adj Close,Volume,Shutdown Number
Date,,,,,,,
1976-09-27,106.800003,107.699997,106.349998,107.269997,107.269997,17430000,1
1976-09-28,107.269997,107.540001,105.610001,105.919998,105.919998,20440000,1
1976-09-29,105.919998,106.449997,104.830002,105.370003,105.370003,18090000,1
1976-09-30,105.370003,105.839996,104.570000,105.239998,105.239998,14700000,1
1976-10-01,105.239998,105.750000,103.599998,104.169998,104.169998,20620000,1
1976-10-04,104.169998,104.620003,103.419998,104.029999,104.029999,12630000,1
1976-10-05,104.029999,104.250000,102.510002,103.230003,103.230003,19200000,1
1976-10-06,103.230003,103.720001,102.050003,102.970001,102.970001,20870000,1
1976-10-07,102.970001,103.900002,102.160004,103.540001,103.540001,19830000,1
1976-10-08,103.540001,104.000000,102.239998,102.559998,102.559998,16740000,1
1976-10-11,102.480003,102.480003,100.980003,101.639999,101.639999,14620000,1
1976-10-12,101.639999,102.190002,100.379997,100.809998,100.809998,18210000,1
1976-10-13,100.809998,102.440002,100.540001,102.120003,102.120003,21690000,1
1977-09-27,95.379997,96.010002,94.760002,95.239998,95.239998,19080000,2
1977-09-28,95.239998,95.910004,94.730003,95.309998,95.309998,17960000,2
1977-09-29,95.309998,96.279999,95.089996,95.849998,95.849998,21160000,2
1977-09-30,95.849998,96.849998,95.660004,96.529999,96.529999,21170000,2
1977-10-03,96.529999,97.110001,95.860001,96.739998,96.739998,19460000,2
1977-10-04,96.739998,97.269997,95.730003,96.029999,96.029999,20850000,2
1977-10-05,96.029999,96.360001,95.199997,95.680000,95.680000,18300000,2
1977-10-06,95.680000,96.449997,95.300003,96.050003,96.050003,18490000,2
1977-10-07,96.050003,96.510002,95.480003,95.970001,95.970001,16250000,2
1977-10-10,95.970001,96.150002,95.320000,95.750000,95.750000,10580000,2
1977-10-11,95.750000,95.970001,94.730003,94.930000,94.930000,17870000,2
1977-10-12,94.820000,94.820000,93.400002,94.040001,94.040001,22440000,2
1977-10-13,94.040001,94.320000,92.889999,93.459999,93.459999,23870000,2
1977-10-14,93.459999,94.190002,92.879997,93.559998,93.559998,20410000,2
1977-10-17,93.559998,94.029999,92.870003,93.470001,93.470001,17340000,2
1977-10-26,91.000000,92.459999,90.440002,92.099998,92.099998,24860000,3
1977-10-27,92.099998,93.150002,91.540001,92.339996,92.339996,21920000,3
...,...,...,...,...,...,...,...
2013-09-26,1694.050049,1703.849976,1693.109985,1698.670044,1698.670044,2813930000,18
2013-09-27,1695.520020,1695.520020,1687.109985,1691.750000,1691.750000,2951700000,18
2013-09-30,1687.260010,1687.260010,1674.989990,1681.550049,1681.550049,3308630000,18
2013-10-01,1682.410034,1696.550049,1682.069946,1695.000000,1695.000000,3238690000,18
2013-10-02,1691.900024,1693.869995,1680.339966,1693.869995,1693.869995,3148600000,18
2013-10-03,1692.349976,1692.349976,1670.359985,1678.660034,1678.660034,3279650000,18
2013-10-04,1678.790039,1691.939941,1677.329956,1690.500000,1690.500000,2880270000,18
2013-10-07,1687.150024,1687.150024,1674.699951,1676.119995,1676.119995,2678490000,18
2013-10-08,1676.219971,1676.790039,1655.030029,1655.449951,1655.449951,3569230000,18
2013-10-09,1656.989990,1662.469971,1646.469971,1656.400024,1656.400024,3577840000,18
2013-10-10,1660.880005,1692.560059,1660.880005,1692.560059,1692.560059,3362300000,18
2013-10-11,1691.089966,1703.439941,1688.520020,1703.199951,1703.199951,2944670000,18
2013-10-14,1699.859985,1711.030029,1692.130005,1710.140015,1710.140015,2580580000,18
2013-10-15,1709.170044,1711.569946,1695.930054,1698.060059,1698.060059,3327740000,18
2013-10-16,1700.489990,1721.760010,1700.489990,1721.540039,1721.540039,3486180000,18
2013-10-17,1720.170044,1733.449951,1714.119995,1733.150024,1733.150024,3453590000,18
2013-10-18,1736.719971,1745.310059,1735.739990,1744.500000,1744.500000,3664890000,18
2013-10-21,1745.199951,1747.790039,1740.670044,1744.660034,1744.660034,3052710000,18
2018-01-17,2784.989990,2807.040039,2778.379883,2802.560059,2802.560059,3778050000,19
2018-01-18,2802.399902,2805.830078,2792.560059,2798.030029,2798.030029,3681470000,19
2018-01-19,2802.600098,2810.330078,2798.080078,2810.300049,2810.300049,3639430000,19
2018-01-22,2809.159912,2833.030029,2808.120117,2832.969971,2832.969971,3471780000,19
2018-01-23,2835.050049,2842.239990,2830.590088,2839.129883,2839.129883,3519650000,19
2018-01-24,2845.419922,2852.969971,2824.810059,2837.540039,2837.540039,4014070000,19
2018-02-06,2614.780029,2701.040039,2593.070068,2695.139893,2695.139893,5891660000,20
2018-02-07,2690.949951,2727.669922,2681.330078,2681.659912,2681.659912,4626570000,20
2018-02-08,2685.010010,2685.270020,2580.560059,2581.000000,2581.000000,5305440000,20
2018-02-09,2601.780029,2638.669922,2532.689941,2619.550049,2619.550049,5680070000,20
2018-02-12,2636.750000,2672.610107,2622.449951,2656.000000,2656.000000,4055790000,20
2018-02-13,2646.270020,2668.840088,2637.080078,2662.939941,2662.939941,3472870000,20

In [10]:
shutdown_df['length_in_days']

0     12
1     14
2     10
3     10
4     19
5     13
6      4
7      3
8      5
9      5
10     4
11     3
12     3
13     3
14     5
15     7
16    33
17    17
18     3
19     1
Name: length_in_days, dtype: int64

In [13]:
## loops through all of csv, only keeping date ranges we need
stock_prices_clean_delta = pd.DataFrame()
obs_count_list = []
for shutdown in range(len(shutdown_df)):
    try: 
        from_date = stock_prices_unclean.index.get_loc(shutdown_df["from_date"][shutdown])
    except KeyError: 
        from_date = stock_prices_unclean.index.get_loc(str((pd.to_datetime(shutdown_df["from_date"][shutdown]) + datetime.timedelta(days=2)).date()))

    try: 
        to_date = stock_prices_unclean.index.get_loc(shutdown_df["to_date"][shutdown])
    except KeyError: 
        to_date = stock_prices_unclean.index.get_loc(str((pd.to_datetime(shutdown_df["to_date"][shutdown]) + datetime.timedelta(days=2)).date()))
        
    stock_prices_clean_delta = stock_prices_clean_delta.append(stock_prices_unclean.iloc[from_date-3])
    stock_prices_clean_delta = stock_prices_clean_delta.append(stock_prices_unclean.iloc[to_date+3])

In [14]:
stock_prices_clean_delta

,Adj Close,Close,High,Low,Open,Volume
1976-09-27,107.269997,107.269997,107.699997,106.349998,106.800003,1.743000e+07
1976-10-14,100.849998,100.849998,102.139999,100.279999,102.120003,1.861000e+07
1977-09-27,95.239998,95.239998,96.010002,94.760002,95.379997,1.908000e+07
1977-10-18,93.459999,93.459999,94.190002,93.010002,93.470001,2.013000e+07
1977-10-26,92.099998,92.099998,92.459999,90.440002,91.000000,2.486000e+07
1977-11-14,95.320000,95.320000,96.379997,94.910004,95.980003,2.322000e+07
1977-11-25,96.690002,96.690002,97.110001,95.860001,96.489998,1.791000e+07
1977-12-14,94.029999,94.029999,94.260002,92.940002,93.559998,2.211000e+07
1978-09-27,101.660004,101.660004,103.440002,101.330002,102.620003,2.837000e+07
1978-10-23,98.180000,98.180000,98.839996,96.629997,97.949997,3.609000e+07
1979-09-27,110.209999,110.209999,110.750000,109.190002,109.959999,3.311000e+07
1979-10-17,103.389999,103.389999,104.540001,102.739998,103.190002,2.965000e+07
1981-11-17,121.150002,121.150002,121.779999,119.500000,120.239998,4.319000e+07
1981-11-27,125.089996,125.089996,125.709999,123.629997,124.050003,3.277000e+07
1982-09-27,123.620003,123.620003,123.620003,122.750000,123.320000,4.484000e+07
1982-10-07,128.800003,128.800003,128.960007,125.989998,125.989998,1.470700e+08
1982-12-14,137.399994,137.399994,142.500000,137.339996,139.990005,9.838000e+07
1982-12-27,142.169998,142.169998,142.320007,139.720001,139.729996,6.469000e+07
1983-11-07,161.910004,161.910004,162.559998,161.839996,162.419998,6.940000e+07
1983-11-17,166.130005,166.130005,166.490005,165.509995,166.080002,8.074000e+07
1984-09-27,166.960007,166.960007,167.179993,166.330002,166.750000,8.888000e+07
1984-10-08,162.130005,162.130005,162.679993,161.800003,162.679993,4.636000e+07
1984-09-28,166.100006,166.100006,166.960007,165.770004,166.960007,7.895000e+07
1984-10-10,162.110001,162.110001,162.119995,160.020004,161.669998,9.427000e+07
1986-10-13,235.910004,235.910004,235.910004,235.020004,235.520004,5.499000e+07
1986-10-23,239.279999,239.279999,239.759995,236.259995,236.279999,1.509000e+08
1987-12-15,242.809998,242.809998,245.589996,241.309998,242.190002,2.149700e+08
1987-12-28,245.570007,245.570007,252.020004,244.190002,252.009995,1.312200e+08
1990-10-02,315.209991,315.209991,319.690002,314.940002,314.940002,1.883600e+08
1990-10-12,300.029999,300.029999,301.679993,295.220001,295.450012,1.879400e+08
1995-11-08,591.710022,591.710022,591.710022,586.320007,586.320007,3.597800e+08
1995-11-27,601.320007,601.320007,603.349976,599.969971,599.969971,3.591300e+08
1995-11-30,605.369995,605.369995,608.690002,605.369995,607.640015,4.400500e+08
1996-01-11,602.690002,602.690002,602.710022,597.539978,598.479980,4.088000e+08
2013-09-26,1698.670044,1698.670044,1703.849976,1693.109985,1694.050049,2.813930e+09
2013-10-22,1754.670044,1754.670044,1759.329956,1746.479980,1746.479980,3.850840e+09
2018-01-17,2802.560059,2802.560059,2807.040039,2778.379883,2784.989990,3.778050e+09
2018-01-25,2839.250000,2839.250000,2848.560059,2830.939941,2846.239990,3.835150e+09
2018-02-06,2695.139893,2695.139893,2701.040039,2593.070068,2614.780029,5.891660e+09
2018-02-14,2698.629883,2698.629883,2702.100098,2648.870117,2651.209961,4.003740e+09